<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="/static/designsec/js/tinymce/tinymce.min.js"></script>
    <script src="/static/designsec/js/admin.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/designsec/css/bootstrap-modal-bs3patch.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/designsec/css/admin.css">
</head>
<body>
<div id="content">
    {% if messages %}
        <div id="top-wrapper">
            {% autoescape off %}
                {% for message in messages %}
                    <div id="site-notice"
                         class="alert {% if message.tags %} {{ message.tags }} {% else %} alert-warning {% endif %}">{{ message }}</div>
                {% endfor %}
            {% endautoescape %}
        </div>
    {% endif %}

    <div id="main-wrapper">
    <a href="#" class="btn btn-primary add-project">Add Project</a>
        <table id="adminTable" class="table table-striped table-hover">
            <thead>
            <tr>
                <td>Project ID</td>
                <td>Project Name</td>
                <td>Creation Date</td>
                <td>Last Modified</td>
                <td>Number of Recommendations</td>
                <td>Last Visit</td>
                <td>Contact</td>
            </tr>
            </thead>
            <tbody>
            {% for p in projects %}
{# Using DataTables to sort. See: https://datatables.net/manual/data/orthogonal-data for reference #}
                <tr>
                    {#            permalinks, creation date, number of recommendations, updated date, number of#}
                    {#              views, and last visit#}
                    <td class="min-td-width" data-order="{{ p.pid }}" data-search="{{ p.pid }}">
                        <p>
                        <a href="#" data-toggle="tooltip" title="{{ p.pid }}" data-container="body">{{ p.pid_short }}</a><br />
                        <a href="{% url 'project' project=p.pid %}" class="btn btn-primary">View</a>
                        <a href="{% url 'edit_project' project=p.pid %}" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger delete-project" id="delete-{{ p.pid }}">Delete</a>
                    </p></td>
                    <td class="max-td-width"><p class="text-capitalize">{{ p.name }}</p></td>
                    <td data-order="{{ p.added|date:'U' }}"><p>{{ p.added }}</p></td>
                    <td data-order="{{ p.modified|date:'U' }}"><p>{{ p.modified }}</p></td>
                    <td><p>{{ p.rec_count }}</p></td>
                    <td><p>{{ p.last_visit }}</p></td>
                    <td><p>{{ p.contact }}</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="#" class="btn btn-primary add-project">Add Project</a>
    </div>
</div>
<!-- Create Project Modal -->
<div id="createProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Project</h4>
            </div>
            <div class="modal-body">
                <form id="createProjectForm" method="post" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    {{ contact_formset.management_form }}
                    {% for form in contact_formset %}
                        <div id="error_{{ form.html_name }}" class="form-error"></div>
                        {% if form.help_text %}
                            <p><a href="#" data-toggle="tooltip" data-viewport=".modal-content" data-placement="right" title="{{ form.help_text }}">{{ form.label }}</a><br />
                           {{ form }} </p>
                        {% else %}
                            <div>{{ form.label }}</div><br /><p>{{ form }} </p>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button id="createProjectButton"  type="button" class="btn btn-success" >Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="resetCreateProjectFormButton" type="button" class="btn btn-outline-secondary">Reset</button>
            </div>
        </div>

    </div>
</div>
<!-- Delete Project Modal -->
<div id="deleteProjectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Delete Project</h4>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to delete the project:</div>
                <div id="projectDeleteId"></div>
                <form id="deleteProjectForm" method="post" action="{% url 'delete_project' %}">
                    {% csrf_token %}
                    <input id="deleteProjectField" type="hidden" name="project" value=""/>
                </form>
            </div>
            <div class="modal-footer">
                <button id="deleteProjectButton" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>