{% for _, classification, recommendations in rec_list %}
    {# todo make these things with slide down, etc. using javascript #}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a role="button" data-toggle="collapse" href="#colC{{ classification.id }}">
                <i class="more-less glyphicon glyphicon-minus"></i>
                <strong>{{ classification.name }}</strong>
            </a>
        </div>
        <div id="colC{{ classification.id }}" class="collapse in" aria-expanded="true">
            <div class="panel-body">
                {{ classification.description }}
            </div>
            <div class="panel-body">
                {% for r, cl in recommendations %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a role="button" data-toggle="collapse" href="#colR{{ r.id }}">
                                <i class="more-less glyphicon glyphicon-minus"></i>
                                {{ r.name }}
                            </a>
                            {#                        <span class="labels">#}
                            {#                        {% for c in cl %}#}
                            {#                            <span class="label label-default">{{ c.name }}</span>#}
                            {#                        {% endfor %}#}
                            {#                        </span>#}
                        </div>
                        <div id="colR{{ r.id }}" class="collapse in" aria-expanded="true">
                            <div class="panel-body">
                                {{ r.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

