{% for classification, recommendations in rec_list %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>{{ classification }}</strong>
        </div>
        <div class="panel-body">
            {% for r in recommendations %}
                <div class="panel-heading">
                    {{ r.name }}
                </div>
                <div class="panel-body">
                    {{ r.description }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}