body {
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
}

#content {
    margin: 0 1%;
    height: 100%;
    width: auto;
}

#top-wrapper {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
}

#site-notice {
    margin-bottom: 0;
}

#main-wrapper {
    background-color: #ffffff;
    padding:5px;
    margin-top: 5px;
}

.half-top {
    width: 50%;
    min-height: 50px;
    float: left;
    padding: 1%;
}

#recommendations {
    clear: both;
}

.labels {
    margin-left: 5px;
}

.panel-title > a .expand-toggle{
    display: block;
    /*padding: 15px;*/
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-heading .expand-toggle:after {
    /* symbol for "expanded" divs */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    /*content: "\2212";    !* minus, taken from bootstrap.css *!*/
    content: "\e114";       /*c hevron down, taken from bootstrap.css */
    float: right;
    color: grey;
}
.panel-heading .expand-toggle.collapsed:after {
    /* symbol for "collapsed" divs */
    /*content: "\2b";    !* plus, taken from bootstrap.css *!*/
    content: "\e080";      /*chevron right, taken from bootstrap.css */
}

#permalink {
    float: right;
}