<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project.name|capfirst }} Recommendations</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/designsec/js/tinymce/tinymce.min.js"></script>
    <script src="/static/designsec/js/projects.js"></script>
    <script src="/static/designsec/js/admin/modal_generator.js"></script>
    <script src="/static/designsec/js/admin/projects.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/designsec/css/admin/project.css">
</head>
<body>
<div id="content">
    {# Display a notice at the top of the page if there is one #}
    <div id="top-wrapper">
        {% if messages %}
            {% autoescape off %}
                {% for message in messages %}
                    <div id="site-notice" class="alert {% if message.tags %} {{ message.tags }} {% else %} alert-warning {% endif %}">{{ message }}</div>
                {% endfor %}
            {% endautoescape %}
        {% endif %}
        {# Display the project description and threat model next on the page #}
        {% if project %}
            <h1 class="text-capitalize">
                <a href="#" role="button" class="modal-operation" data-target="project" data-id="{{ project.pk }}" data-modal-operation="edit" data-toggle="tooltip" data-placement="right" title="Edit the project title, description, threat model, and contact">
                <span class="glyphicon glyphicon-pencil glyph-border"></span>
            </a><a href="#" role="button" class="modal-operation" data-target="project" data-id="{{ project.pk }}" data-modal-operation="delete" data-toggle="tooltip" data-placement="right" title="Delete the project title, description, threat model, and contact">
                <span class="glyphicon glyphicon-trash glyph-border"></span>
            </a>{{ project.name }}</h1>
            <h3>Project description</h3>
            <blockquote id="project-description">
                {{ project.description|safe }}
            </blockquote>
            <h3>Threat model</h3>
            <blockquote id="project-threat">
                {{ project.trust|safe }}
            </blockquote>
            <div id="contact">Knox security contact:
                {% autoescape off %}
                    {% for c in project.contact.all %}
                        {{ c.mailto }}
                    {% endfor %}
                {% endautoescape %}
            </div>
            <div id="updated">Recommendations last updated: {{ project.modified }}</div>
        {% endif %}
    </div>

    <div id="main-wrapper">
    <div>
        <button type="button" class="btn btn-primary modal-operation" data-modal-operation="add" data-target="category" data-toggle="tooltip" title="Add a new filter category">Category <span class="badge"><span class="glyphicon glyphicon-plus"></span></span></button>
        <button type="button" class="btn btn-primary modal-operation" data-modal-operation="add" data-target="classification" data-toggle="tooltip" title="Add a new classification">Classification <span class="badge"><span class="glyphicon glyphicon-plus"></span></span></button>
        <button type="button" class="btn btn-primary modal-operation" data-modal-operation="add" data-target="recommendation" data-toggle="tooltip" title="Add a new recommendation">Recommendation <span class="badge"><span class="glyphicon glyphicon-plus"></span></span></button>
    </div>
        Filter recommendations by:
        <ul id="category-sorter-parent" class="nav nav-tabs">
            {% for c in category %}
                <li class="category-sorters" data-pk="{{ c.pk }}" data-toggle="tooltip" title="{{ c.help }}">
                    <a href="#">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>


{#        <div id="recommendations" class="panel-group" role="tablist" aria-multiselectable="true">#}
{#        <form action="{% url 'save_recommendations' project=pid %}" method="POST">#}
{#            {% csrf_token %}#}
            <div id="recommendations" class="panel-group">
                <form id="list-maker" action="{% url 'admin_project_sort' project=pid %}" method="post">
                    {% csrf_token %}
                </form>
            </div>
{#        </form>#}

{#    <button class="submit-recommendations btn btn-success">Save project recommendations</button>#}
    </div>
</div>

{# Hidden forms to use for sorting the recommendations #}
<form id="category-selector" action="{% url 'admin_project_sort' project=pid %}">
    <input id="category-sort" type="hidden" name="category" value="{{ category_select }}"/>
</form>

<!-- Error Modal -->
<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div id="errorModalText" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="reloadButton"  type="button" class="btn btn-default" >Refresh</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal operation forms -->
<form id="addModalMaker" action="{% url 'get_modal' op='add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="target" value="">
    <input type="hidden" name="id" value="">
</form>
<form id="deleteModalMaker" action="{% url 'get_modal' op='delete' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="target" value="">
    <input type="hidden" name="id" value="">
</form>
<form id="editModalMaker" action="{% url 'get_modal' op='edit' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="target" value="">
    <input type="hidden" name="id" value="">
</form>
<!-- Modal code will be added here -->
<div id="modalContainer"></div>
</body>
</html>
